.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
}

main section {
  width: fit-content;
}

.lessons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.lesson-btn {
  margin: 25px;
}
.lesson-text {
  padding: 100px;
  white-space: pre-wrap;
  width: 50%;
}
.board {
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  color: #434338ff;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 50px;
  padding: 30px;
  width: 350px;
}

.board:after {
  content: "";
  background-color: #ece978ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}

.board ol {
  text-align: left;
}

h1 {
  font-size: 5rem;

  font-family: "Pixelify Sans", cursive;
}

h2 {
  color: rgb(255, 255, 219);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: rgb(224, 105, 37);
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 20px;
}

ol {
  padding: 20px;
}

li {
  padding: 10px 0;
}

.quiz-container {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.header-link:visited {
  color: inherit;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
}

:root {
  --color-primary: #f9f8dcff;
  --color-secondary: #ece978ff;
  --color-tertiary: rgb(234, 194, 72);
  --color-quaternary: #ff8b07;
  --color-quinary: #e85705ff;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* CSS */
button {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid rgb(255, 255, 251);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(224, 105, 37);
  font-weight: bold;
  width: fit-content;
  margin: 25px;
}

button:after {
  content: "";
  background-color: #ece978ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  button {
    padding: 13px 50px 13px;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.question {
  font-weight: bold;
  padding: 25px 0;
}

.question-group {
  margin: 25px;
}

.subject {
  text-transform: capitalize;
}

.example-problems {
  white-space: pre-wrap;
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .lessons-section {
    flex-direction: column;
  }

  .quiz-container {
    flex-direction: column;
  }
}
